* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FiraCodeNerdFont, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

/* @define-color normal-background #11192c; */
@define-color foreground          rgb(193, 193, 193);
@define-color normal-background   rgb(0, 0, 0);
@define-color selected-background rgb(57, 66, 73);
@define-color accent              #ff0037;
@define-color accent-dark         #8a0320;
@define-color accent-two          #00ffe1;

window#waybar {
    background-color: transparent;
    color: @accent;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
}

#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd
#custom-wlogout {
    margin: 0 2px;
    padding: 0 8px;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


/* LEFT MODULES */
.modules-left {
    margin-left: 16px;
    margin-top: 16px;
}

#workspaces {
    padding-left: 2px;
    padding-right: 6px;

    border-radius: 16px;
    border-style: solid;
    border-width: 0;
    border-color: transparent;
    
    background: @normal-background;
    
    transition: 250ms;
}

#workspaces button {
    padding: 0 4px;
    
    background: transparent;
        
    transition: 250ms;
}

#workspaces button:hover {
    font-size: 12px;
    color: @accent;
}

#workspaces button.active {
    color: @accent;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

/* CENTER MODULES */

#clock {
    padding-top: 16px;
    background-color: transparent;
}

/* RIGHT MODULES */

.modules-right {
    margin-top: 16px;
    margin-right: 16px;
    padding: 4px 10px;

    color: @foreground;
    background-color: @normal-background;

    border-radius: 12px;
}

#custom-wlogout button {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background: blue;
    color: white;
    transition: 500ms;
}

#custom-wlogout button:hover {
    background: red;
    color: black;
}

/* COLOR VARIABLES */
@define-color battery-good          #a5ff55;
@define-color battery-med           #ff8e24;
@define-color battery-low           @accent;
@define-color battery-background    transparent;

#battery {
    padding-right: 14px;

    background: @battery-good;
    border: 2px solid #a5ff55;
    border-radius: 10px;

    /* color: #000000; */
    /* font-weight: bold; */
}

#battery.ninety-five {
    background: linear-gradient(70deg, @battery-good 95%, @battery-background 95%);
}

#battery.ninety {
    background: linear-gradient(70deg, @battery-good 90%, @battery-background 90%);
}

#battery.eighty-five {
    background: linear-gradient(70deg, @battery-good 85%, @battery-background 85%);
}

#battery.eighty {
    background: linear-gradient(70deg, @battery-good 80%, @battery-background 80%);
}

#battery.seventy-five {
    background: linear-gradient(70deg, @battery-good 75%, @battery-background 75%);
}

#battery.seventy {
    background: linear-gradient(70deg, @battery-good 70%, @battery-background 70%);
}

#battery.sixty-five {
    background: linear-gradient(70deg, @battery-good 65%, @battery-background 65%);
}

#battery.sixty {
    background: linear-gradient(70deg, @battery-good 60%, @battery-background 70%);
}

#battery.fifty-five {
    background: linear-gradient(70deg, @battery-good 55%, @battery-background 55%);
}

#battery.fifty {
    background: linear-gradient(70deg, @battery-good 50%, @battery-background 50%);
}

#battery.fourty-five {
    background: linear-gradient(70deg, @battery-good 45%, @battery-background 45%);
}

#battery.fourty {
    background: linear-gradient(70deg, @battery-good 40%, @battery-background 40%);
}

#battery.thirty-five {
    background: linear-gradient(70deg, @battery-good 35%, @battery-background 35%);
}

#battery.thirty {
    background: linear-gradient(70deg, @battery-good 30%, @battery-background 30%);
}

#battery.twenty-five {
    background: linear-gradient(70deg, @battery-good 25%, @battery-background 25%);
}

#battery.twenty {
    background: linear-gradient(70deg, @battery-good 20%, @battery-background 20%);
}

#battery.warning {
    background: linear-gradient(70deg, @battery-med 15%, @battery-background 15%);
    border: 2px solid #ffff55;
    color: #000000;
}


#battery.charging, #battery.plugged {
    color: #000000;
    background-color: @battery-good;
}

@keyframes blink {
    to {
        background-color: transparent;
        color: @accent;
    }
}

#battery.critical:not(.charging) {
    background-color: @accent;
    border-color: @accent;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* #pulseaudio { */
/*     border: 2px solid @accent; */
/*     background-color: @normal-background; */
/*     color: @accent; */
/* } */
/**/
/* #pulseaudio.muted { */
/*     border: 2px solid @accent; */
/*     background-color: @normal-background; */
/*     color: @accent; */
/* } */
/**/
/* #backlight { */
/*     border: 2px solid @accent; */
/*     background-color: @normal-background; */
/*     color: @accent; */
/* } */
/**/
/* #temperature { */
/*     border: 2px solid @accent; */
/*     background-color: @normal-background; */
/*     color: @accent; */
/* } */
/**/
/* #temperature.critical { */
/*     border: 2px solid @accent; */
/*     background-color: @normal-background; */
/*     color: @accent; */
/* } */
/**/
/* #memory { */
/*     border: 2px solid @accent; */
/*     background-color: @normal-background; */
/*     color: @accent; */
/* } */
/**/
/* #cpu { */
/*     border-width: 2px; */
/*     border-style: solid; */
/*     border-image: linear-gradient(45deg, @accent, @accent-two) 1; */
/*     background-color: @normal-background; */
/*     color: @accent; */
/* } */
/**/
/* #network { */
/*     border: 2px solid @accent; */
/*     background-color: @normal-background; */
/*     color: @accent; */
/* } */
/**/
/* #network.disconnected { */
/*     background-color: @normal-background; */
/* } */
