* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FiraCodeNerdFont, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

@define-color foreground          #c1c1c1;
@define-color normal-background   rgba(46, 52, 62, 0.80);
@define-color selected-background #39424A;
@define-color accent              #749699;

window#waybar {
    background-color: @normal-background;
    color: @foreground;
 
    border-radius: 20px;
    
    transition-property: background-color;
    transition-duration: .5s;

    box-shadow: 4px 4px 2px 2px #00000066;
}

#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd
#custom-wlogout {
    padding-right: 8px;
    padding-left: 8px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 4px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#workspaces {
    padding: 0;
    margin: 8px;
    transition: 250ms;
}

#workspaces button {
    background: transparent;
}

#workspaces button:hover {
    color: @accent;
}

#workspaces button.active {
    color: @accent;
}

#workspaces button.urgent {
    color: #eb4d4b;
}

#idle_inhibitor {
    padding-left: 16px;
    padding-right: 8px;
}

#bluetooth {
    font-size: 16px;
}

#custom-wlogout {
    padding-right: 10px;
    padding-left: 0px;
    font-size: 20px;
    color: @accent;
}
