* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(46, 52, 64, 0.5);
}

button {
	text-decoration-color: #FFFFFF;
    color: #d8dee9;
    
    font-size: 22px;
    font-family: FiraCode Nerd Font;

	background-color: #2e3440;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
    border-color: #2e3440;
    border-radius: 16px;
}

button:hover {
    background-color: #88C0D0;
    border-color: #88C0D0;
    background-size: 30%;
}

#lock {
    margin: 100px 0 0 100px;
    background-image: image(url("icons/lock.png"));
    border-radius: 64px 16px 16px 16px;
}

#suspend {
    margin: 100px 100px 0 0;
    background-image: image(url("icons/suspend.png"));
    border-radius: 16px 64px 16px 16px;
}

#shutdown {
    margin: 0 0 100px 100px;
    background-image: image(url("icons/shutdown.png"));
    border-radius: 16px 16px 16px 64px;
}

#reboot { 
    margin: 0 100px 100px 0;
    background-image: image(url("icons/restart.png"));
    border-radius: 16px 16px 64px 16px;
}

button:hover#lock, button:hover#suspend, button:hover#shutdown, button:hover#reboot { 
    margin: 0;
}
